refer/*
data/*
/gopherink
/goblog
/.gopherink-build/
/cmd/gopherink/zz_plugins_autoload.go
.vscode/
/function_test/
/website/
GopherInk-Tools/
plugins/*
!plugins/sitemap/
!plugins/sitemap/**
!plugins/virtual-files/
!plugins/virtual-files/**
themes/
!themes/default/
!themes/default/**
