{{define "content"}}
<div class="page-head"><div><h1>个人设置</h1><p class="muted">更新个人资料和密码。</p></div></div>
{{if .Saved}}<div class="notice">已保存。</div>{{end}}
<form method="post" class="form-panel field-stack profile-panel">
  <img class="profile-avatar" src="{{adminAvatarURL .User.Mail 176}}" alt="">
  <mdui-text-field label="用户名" value="{{.User.Name}}" disabled></mdui-text-field>
  <mdui-text-field name="screenName" label="昵称" value="{{.User.ScreenName}}" {{if fieldError .Errors "screenName"}}helper="{{fieldError .Errors "screenName"}}"{{end}}></mdui-text-field>
  <mdui-text-field name="mail" label="邮箱" value="{{.User.Mail}}" {{if fieldError .Errors "mail"}}helper="{{fieldError .Errors "mail"}}"{{end}}></mdui-text-field>
  <mdui-text-field name="url" label="个人主页" value="{{.User.URL}}" {{if fieldError .Errors "url"}}helper="{{fieldError .Errors "url"}}"{{end}}></mdui-text-field>
  <mdui-text-field name="password" label="新密码" type="password" helper="{{if fieldError .Errors "password"}}{{fieldError .Errors "password"}}{{else}}留空表示不修改{{end}}"></mdui-text-field>
  <div class="form-actions"><mdui-button type="submit">保存</mdui-button></div>
</form>
{{end}}
