{{define "content"}}
<div class="page-head"><div><h1>{{.Title}}</h1></div><mdui-button variant="outlined" href="/admin/users">{{T "Back"}}</mdui-button></div>
<form method="post" action="{{.Action}}" class="form-panel field-stack">
  <mdui-text-field name="name" label="{{T "Username"}}" value="{{.User.Name}}" {{if fieldError .Errors "name"}}helper="{{fieldError .Errors "name"}}"{{end}} required></mdui-text-field>
  <mdui-text-field name="screenName" label="{{T "Nickname"}}" value="{{.User.ScreenName}}" {{if fieldError .Errors "screenName"}}helper="{{fieldError .Errors "screenName"}}"{{end}}></mdui-text-field>
  <mdui-text-field name="mail" label="{{T "Email"}}" value="{{.User.Mail}}" {{if fieldError .Errors "mail"}}helper="{{fieldError .Errors "mail"}}"{{end}}></mdui-text-field>
  <mdui-text-field name="url" label="{{T "Website"}}" value="{{.User.URL}}" {{if fieldError .Errors "url"}}helper="{{fieldError .Errors "url"}}"{{end}}></mdui-text-field>
  <mdui-text-field name="password" label="{{T "Password"}}" type="password" helper="{{if fieldError .Errors "password"}}{{fieldError .Errors "password"}}{{else}}{{T "Leave blank when editing a user to keep unchanged"}}{{end}}"></mdui-text-field>
  <mdui-text-field name="confirm" label="{{T "Confirm password"}}" type="password" helper="{{if fieldError .Errors "confirm"}}{{fieldError .Errors "confirm"}}{{else}}{{T "Enter the password again"}}{{end}}"></mdui-text-field>
  <mdui-select name="role" label="{{T "Role"}}" value="{{if .User.Role}}{{.User.Role}}{{else}}subscriber{{end}}">
    <mdui-menu-item value="administrator">{{T "Administrator"}}</mdui-menu-item>
    <mdui-menu-item value="editor">{{T "Editor"}}</mdui-menu-item>
    <mdui-menu-item value="contributor">{{T "Contributor"}}</mdui-menu-item>
    <mdui-menu-item value="subscriber">{{T "Subscriber"}}</mdui-menu-item>
    <mdui-menu-item value="visitor">{{T "Visitor"}}</mdui-menu-item>
  </mdui-select>
  {{if fieldError .Errors "role"}}<div class="notice danger">{{fieldError .Errors "role"}}</div>{{end}}
  <div class="form-actions"><mdui-button type="submit">{{T "Save"}}</mdui-button></div>
</form>
{{end}}
